*{
   transition: .5s linear;
}
html, body{
   height: 100% !important;
   overflow: hidden !important;
}

#cont{
   min-height: 100% !important;
}

header{
   overflow: hidden !important;
    nav{
      background: #f3f3f3;
      padding-right: 0 !important;
      height: 70px !important;
    }
    .offcanvas{
      top: 70px !important;
      background: $primary !important;
    }
    .offcanvas-start{
      top: 0 !important;
      width: 80% !important;
      
      .offcanvas-header{
         button{
            padding-top: 15px !important;
         }
      }
      .dropdown{
         width: 90px !important;
      }
      .dropdown-toggle{
         width: fit-content !important;
      }
      
      .dropdown-menu{
        min-width: 100px !important;
         transition: .2s linear !important;
         text-align: center !important;
         background-color: #797979 !important;
         li{
            width: 100px !important; 
            a{
               text-transform: capitalize !important;
            }
         }
      }
      .nav-item{
        padding: 5px;
        width: fit-content !important;
        transition: all .5s ease-in-out !important;
       
        .nav-link{
          text-transform: capitalize;
          font-size: 18px !important;
          color: #f3f3f3 !important;
          
        }
        .nav-link:hover{
         color: $third-color !important;
        }
      }
    }
    .offcanvas-backdrop{
      top: 70px;
      width: 100% !important;
    }

    .navbar-brand{
      font-size: 25px;
      color: $primary;
      text-transform: uppercase;
    }
    .navbar-brand:hover{
      color: $third-color !important;
    }

    .navbar-toggler{
      
      padding: 2px !important;
      border: none !important;
      box-shadow: none !important;
      .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28110, 137, 28, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        height: 25px !important;
       }
      .navbar-toggler-icon:hover{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28164, 174, 198, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
       }
      
    }
    .search-bar {
       span{
          color: $primary;
       }
    }
    .search-bar:hover{
       span{
          color: $third-color;
       }
    }
    #search-bar{
      height: fit-content !important;
      margin-right: 0;
      input{
         height: 35px;
         margin-right: 0 !important;
         border-top-right-radius: 0 !important;
         border-bottom-right-radius: 0 !important;
         box-shadow: none !important;
      }
      input:hover{
         border-color: $third-color !important;
      }
      .btn{
         background: $danger;
         height: 35px;
         border-top-left-radius: 0 !important;
         border-bottom-left-radius: 0 !important;
         display: flex;
         align-items: center;
         justify-content: center;
         i{
            font-size: 20px;
            color: $third-color;
         }
      }
    }

    .shopping{
      padding-top: 3px;
      position: relative;
      display: flex;
       .cart{
          svg{
             color: $primary;
             margin: 0 0px 2px 10px !important;
          }
        }
        .cart:hover{
          svg{
             color: $third-color;
          }
        }
        #quantity{
         background-color: red;
         border-radius: 50%;
         color: $white;
         position: absolute;
         display: flex;
         
         left: 80%;
         align-items: center;
         justify-content: center;
         font-size: 12px;
         padding: 0 2px;
        }
     }

     #cart{
      overflow: hidden!important;
      .offcanvas-body{
         height: 100vh !important;
         .cart-content{
            height: 450px !important;
            overflow-y: auto !important;
           }
         .shop{
            display: grid !important;
            grid-template-columns: 32% 50% 10%;
            gap: 5px;
            align-items: center;
            margin: 10px 0;
            img{
              width: 75px;
              height: 75px;
              object-fit: cover;
              border-radius: 3px;
            }
         }
         .cart-note{
            margin: 0 auto;
            margin-top: 35px;
            text-align: center;
            h4{
               font-size: 20px;
               text-transform: capitalize;
              
            }  
           a{
             text-decoration: none !important;
             text-transform: capitalize;
             .home-page{
               @include btn;
               width: fit-content;
               border: 2px solid $third-color !important;
             }
             .home-page:hover{
               background-color: $third-color;
             }
            }
         }
         .cart-des{
            margin-left: 10px;
            display: grid;
            row-gap: 5px;
            .prd-title{
               font-size: 20px;
               color: $white;
               text-transform: capitalize;
             }
           
             .prd-price{
               font-size: 16px;
               color: $white;
               font-weight: 300;
             }
             .prod-btn{
               color: red;
               width: 60px;
               display: flex;
               align-items: center;
               justify-content: space-around;
               background-color: $white;
               .bi-dash, .bi-plus{
                  cursor: pointer;
               }
             }
           
             input{
               width: 45px;
               border-radius: 3px;
             }
             input:focus{
               box-shadow: none !important;
               border: 1px solid $third-color !important;
            }
          }

          .remove-item{
            
            cursor: pointer;
            margin-left: 70%;
            color: $white;
          }
          .remove-item:hover{
            color: red;
          }
          #label{
            .total{
               display: flex;
               justify-content: flex-end;
               border-top: 1px solid #111;
               padding-top: 20px;
               margin: 0 auto;
               margin-bottom: 20px;
               margin-top: 5px;
               width: 90%;
               .total-title{
                  font-size: 16px;
                  text-transform: capitalize;
                  padding-right: 5px;
                  font-weight: 800;
                }
                .total-price{
                  font-weight: 500; 
                }
                
             }
             .btns{
               display: flex;
               width: 220px;
               margin: 0 auto;
               .btn{
                  @include btn;
                  width: fit-content;
                     border: 2px solid $third-color !important;
   
                }
                .btn:hover:hover{
                  background-color: $third-color;
                }
             }
             
          }
      }
     }
     

    .login-box {
      svg{
         color: $primary; 
         height: 30px !important;
         width: 30px !important;
         margin-top: 1px !important;
         margin-left: 10px;
      }
      span{
         height: 22.5px !important;
         width: 22.55px !important;
      }
    }
    .login-box:hover{
      svg{
         color: $third-color !important; 
      }
    }
    #login-box{
      input:focus{
         box-shadow: none !important;
         border: 1px solid $third-color !important;
      }
   
      h3{
         font-size: 30px;
         text-transform: capitalize;
         margin-bottom: 15px;
         color: $white;
      }
      .input-group{
         span{
            color: $third-color;
         }
      }
      .rmbm{
         color: $white !important;
         font-size: 12px;
      }
      #rbm{
         margin-right: 10px !important;
         
      } 
      .btn{
         @include btn;
         width: 95px !important;
         border: 2px solid $third-color !important;
      }
      .btn:hover{
         background: $secondary;
         
      }
      span{
         text-transform: capitalize !important;
      }
      p{
         font-size: 12px;
         text-transform: capitalize;
         color: $white;
         a{
            color: $third-color;
            
         }
      }
    }
}

.wrapper{
   max-width: 1000px !important;
   margin: 0 auto;
}

main{
   overflow: hidden !important;
   padding-bottom: 25px;
   #banner{
      margin: 70px 0 50px 0;
      .banner-bkg{
         height: 100vh;
         width: 100%;
         background-image: linear-gradient(#0000004d, rgba(0,0,0,0.3)), url(/src/images/wall-papper2.jpg);
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
         object-fit: cover;
         display: flex;
         align-items: center;
         justify-content: center;
         h1{
            @include h1;
            font-size: 35px !important;
            text-shadow: 0 0 2px #111;
         }
         p{
            font-size: 18px;
            color: $white;
            text-shadow: 0 0 4px #111;
            font-weight: 0 !important;
            text-align: center;
         }
         a{
            text-decoration: none;
            display: block;
            margin: 0 auto;
         }
         .btn{
           @include btn;
           color: $white !important;
           background: transparent !important;
         }
         .btn:hover{
            background: $secondary !important;
         }
      }
   }

   #features{
      padding-top: 100px;
      margin-bottom: 50px !important;
       h1{
      @include h1
       }
      .fts{

         width: 230px !important;
         height: 250px !important;
      }
      .card{
           border: 2px solid #111 !important;
           border-radius: 0;
            img{
               border: 1px solid #111 !important;
               height: 183px !important;
               // width: fit-content !important;
               // margin: 0 auto !important;
            }
            p{
               @include btn;
               height: 25px !important;
               padding: 0 5px !important;
               margin-top: 7px !important;
            } 
      }
     
   }

   #offer{
      padding-top: 100px;
      padding-bottom: 50px !important;
      .carousel-inner{
         width: 350px !important;
         height: 350px !important;
         margin: 0 auto !important;
         display: block !important;
       }
      h1{
         @include h1;
       }
      .carousel-item{
         @include carousel;
         border-radius: 40px !important;
      }
      .carousel-item.active, .pointer-event, .container-md, .carousel-inner, .carousel-slide {
        
         border-radius: 40px !important;
      }
     
      h5{
         font-size: 28px;
         color: $secondary;
         text-shadow: 0 0 5px #111;
      }
      p{
         font-size: 15px;
         color: $white;
         text-shadow: 0 0 7px #111;
      }
      .ind{
         height: 10px;
         width: 10px;
         border-radius: 100%;
         border: 1.5px solid $secondary;
         background-color: transparent;
      }
      .ind.active{
         background-color: $third-color;
      }
      .carousel-control-prev, .carousel-control-next{
         width: fit-content !important;
         height: fit-content !important;
         color: $white;
         margin-top: 40% !important;
         span{
            font-weight: 550;
            padding: 3px ;
         }
         .carousel-control-prev{
            left: -12px;
         }  
         .carousel-control-next{
            right: -12px;
         }
         
      }
      
   }

   #category{
      padding-top: 100px;
      margin-bottom: 50px !important;
      h1{
         @include h1;
       }
       .col-9{
         margin: 0 auto;
       }
      .cad-1, .cad-2, .cad-3, .cad-4{
         width: 220px;
         height: 220px;
         border: 1px solid #797979;
         border-radius: 100%;
         display: flex;
         align-items: center;
         margin: 0 auto;
         justify-content: center;
         
         .card-bod-1, .card-bod-2, .card-bod-3, .card-bod-4{
            width: 200px;
            height: 200px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            overflow: hidden;
            justify-content: center;
            
         }
         .cad-bod-1{
            background-image: url(../images/milk.webp);
            background-size: contain; 
         }
         .cad-bod-2{
            background-image: url(../images/beef.jpeg);
            background-size: contain;
         }
         .cad-bod-3{
            background-image: url(../images/bam.jpeg);
            background-size: contain;
         }
         .cad-bod-4{
            background-image: url(../images/apples.jpeg);
            background-size: contain;
         }
         img{
            display: block !important;
            width: 225px;
            height: 200px;
            border-radius: 5px !important;
         }
         
         h3, p, .btn{
            display: none !important;
         }
      }
      .cad-1:hover, .cad-2:hover, .cad-3:hover, .cad-4:hover{
         height: 365px !important;
         width: 260px !important;
         border-radius: 5px !important;
         display: block !important;
         transition: .5s ease-in-out !important;
         .card-bod-1, .card-bod-2, .card-bod-3, .card-bod-4{
            width: fit-content !important;
            height: fit-content !important;
            border-radius: 0 !important;
            display: block !important; 
            margin: 0 auto !important;
            transition: .7s ease-in-out !important;
         }
        
         img{
            display: block;
         }
         h3, p, .btn{
            display: block !important;
         }
         h3{
            @include h1;
            font-size: 25px;
            margin-top: 10px;
         }
         p{
            margin-top: -17px;
            font-size: 30px;
            color: $fifth-color;
            small{
               color: $secondary;
            }
         }
   
         .btn{
            @include btn;
            background: $primary;
            margin: 0 auto;
            color: $white;
            text-transform: capitalize;
         }
         .btn:hover{
            background-color: $third-color;
         }
      }
   }

   #blog{
      padding-top: 100px;
      margin-bottom: 50px !important;
      h1{
         @include h1;
      }

      .blog-img{
         height: 240px;
         width: 350px;
         margin: 0 auto;
         margin-bottom: 10px !important;
         img{
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 5px;
         }
      }

      .row{
         margin-bottom: 20px;
      }
      .blog-date, .blog-des, .blog-read-more, .stars,  h3{
         width: 350px !important;
         margin: 0 auto !important;
      }
      .stars{
         // margin: 0 auto !important;
         // margin-top: 10px !important;
         // padding-left: 20px !important;
         // width: 350px !important;
         i{
            @include i;
            margin-left: 4px !important;
         }
      }

      h3{
         font-size: 28;
         color: $primary;
         text-transform: capitalize;
         width: 350px;
      }
      small{
         font-weight: 700 !important;
         font-size: 12px;
         text-transform: capitalize;
         margin-bottom: 5px;
      }
      

      .btn{
         @include btn;
         margin: 0 !important;
      }
      .btn:hover{
         background: $third-color;
      }
   }
     
   #reviews{
      padding-top: 100px;
      margin-bottom: 50px !important;
      h1{
         @include h1;
      }
         .carousel{
            box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.08);
               width: 351px !important;
               margin: 0 auto !important;
         
         }
         .carousel-item{
            @include carousel;
            height: 300px !important;
            box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.08);

         }
         img{
            width: 80px;
            height: 80px;
            border-radius: 50px;
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 15px;
         } 

         i{
            color: rgb(255, 234, 0);
         }

         small{
            font-weight: 700;
            text-transform: capitalize;
         }

   }
}

footer{
      background-color: $sixth-color;
      .container-xxl{
         .col-lg-3{
            margin-bottom: 30px !important;
         }
         .btt{
            margin-bottom: 0 !important
         }
      }
   
      h1{
         @include h1;
         color: $fifth-color !important;
         font-size: 24px !important;
         padding-top: 15px !important;
      }
   
      p{
         margin-top: 5px ;
         font-size: 14px !important;
         color: $fourth-color;
      }
   
      i{
         @include i;
         color: $fifth-color !important;
         padding-top: 3px ;
      }
   
      .links{
         display: flex;
         flex-direction: column;
         width: fit-content;
         margin: 0 auto;
         .link{
            display: flex;
            margin-left: 45px !important;
         }
         .q-link{
            font-size: 14px;
            padding-bottom: 10px;
            text-decoration: none !important;
            text-transform: capitalize;
            color: $fourth-color;
        }
        .q-link:hover{
         padding-right: 10px;
         transition: all .2s ease-in-out !important;
        }
      }
      .input-group{
         width: 340px !important;
         margin: 0 auto !important;
         .input-group-text{
            height: 38px !important;
            width: 40px !important;
           }
         input{
            height: 38px;
            box-shadow: none !important;
           }
           input:focus{
            outline: 0.5px solid $third-color !important;
           }
      }
   
     .btn{
      @include btn;
      color: $fourth-color !important;
      background: transparent;
      text-align: center !important;
      margin: 20px 42% !important;
      border: 1px solid $fifth-color;
     }
     .btn:hover{
      background: $fifth-color;
     }
      
      .cards{
         height: 40px;
         width: fit-content;
         margin: 5px auto;
          img{
            height: 80%;
            width: 40px;
        }
     }

     .foot{
      background-color: #111;
      height: fit-content;
      width: 100%;
      text-align: center;
      position: relative;
      margin-top: -10px;
      clear: both;
      
      h6{
         color: $white;
         font-size: 12px;
         text-transform: capitalize;
         padding: 2px 0;
      }
   }

   }
  




@media only screen and (min-width: 768px){
   body{
      h1{
         font-size: 30px !important;
         margin-bottom: 20px !important;
      }
      p{
         font-size: 15px !important;
      }
      .btn{
         font-size: 13px !important;
      }
   }
   header{
      nav{
         
         .navbar-brand{
            font-size: 18px;
         }
         .offcanvas-start{
            .dropdown:hover .dropdown-menu{
               display: block !important;
            }
            .nav-item{
               
               .nav-link{
                  font-size: 12px !important;
                  color: $primary !important;
                  padding: 3px !important;
               }
            }
          } 
          svg{
            height: 20px !important;
            width: 20px !important;
            
          } 
          .login-box{
            display:  block !important;
            svg{
               height: 23px !important;
               width: 23px !important;
               margin-top: 4px !important;
             }
          }

          .search-bar{
            display: none !important;
          }

         .cart{
            display: block !important;
         }
      }
      .nav-icons{
         display: none;
      }
      #search-bar{
         input{
            @include input;
            height: 26px !important;
            margin-top: 3px !important;
            width: 150px !important;
            font-size: 12px !important;
         }
         .btn{
            background: $danger;
            height: 25px;
            width: 32px !important;
            margin-right: 5px !important;
            margin-top: 3.9px !important;
            i{
               font-size: 16px;
            }
         }
      }
      
      #cart, .offcanvas{
         height: 380px !important;
         width: 35% !important;
        
      }
      .offcanvas-body{
         .cart-content{
            max-height: 200px !important;
            .shop{
               
               img{
                 width: 72px !important;
                 height: 72px !important;
                
               }
            }
            .cart-des{
               .prd-title{
                  font-size: 17px !important;
                }
              
                .prd-price{
                  font-size: 14px !important;
                }
                .prod-btn{
                  width: 55px !important;
                  
                  .bi-dash, .bi-plus{
                     font-size: 14px !important;
                  }
                }
                }
                
             }
   
             .remove-item{
               font-size: 15px !important;
             }
           }
      }
      
      
      #login-box{
         input{
            height: 30px ;
         }
         .input-group{
            span{
               height: 30px;
            }
         }
      
         h3{
            font-size: 25px;
         }
         .rmbm{
            font-size: 10px;
            margin-top: 7px;
         }
         .btn{
            width: 90px !important;
         }
         p{
            font-size: 10px !important;
         }
         .small{
            font-size: 6.5px !important;
         }
      }
   
   main{

      .banner-bkg{
         height: 350px !important;
      }

      #features{
         p{
           
            padding: 0 5px !important;
            font-size: 15px !important;
            margin-top: 20px !important;
         } 
         
      }
   
      #offer{
        
         h1{
            @include h1;
            margin-bottom: 20px !important;
          }
          .container-md{
            width: 60% !important;
            height: 250px !important;
            margin: 0 auto !important;
            .carousel-inner{
               width: 330px !important;
               height: 320px !important;
               .carousel-caption{
                  margin-bottom: 8% !important;
               }
             }
             .carousel-control-prev, .carousel-control-next{
               margin-top: 43% !important;
            }
            
          }
          
      }
   
      #category{
         .cad-1, .cad-2, .cad-3, .cad-4{
            width: 170px;
            height: 170px;
            
            .card-bod-1, .card-bod-2, .card-bod-3, .card-bod-4{
               width: 150px !important;
               height: 150px !important;
            }
            img{
               width: 150px;
               height: 150px;
               margin: 0 auto !important;
            }
         }
         .cad-1:hover, .cad-2:hover, .cad-3:hover, .cad-4:hover{
            height: 279px !important;
            width: 170px !important;
            h3{
               @include h1;
               font-size: 22px;
            }
            p{
               margin-top: -17px;
               font-size: 20px !important;
            }
      
            .btn{
              height: 25px !important;
              margin-top: -4px !important;
              display: flex !important;
              align-items: center !important;
              justify-content: center !important;
            }
         }
      }
   
      #blog{
         
         .blog-img{
            height: 175px;
            width: 100%;
         }
         .row{
            margin-bottom: 25px !important;
         }
   
         h3{
            font-size: 25;
         }
         
         p{
            font-size: 13.5px !important;
            line-height: 20px;
         }
   
         .btn{
            height: 25px !important;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            margin-bottom: 30px !important;
         }
      }
        
      #reviews{
         .carousel{
            width: 60% !important;
            margin: 0 auto !important;
         }
         .carousel-item{
            @include carousel;
            height: 270px !important;
         }
         img{
            padding-top: -15px !important;
            width: 95px;
            height: 95px;
         } 
         .cate-des{
            .stars{
               margin-top: -5px !important;
            }
         }
   
      }
   } 
   footer{

      h1{
         font-size: 18px !important;
      }
       
      p{
         font-size: 12px !important;
      }
   
      i{
         font-size: 14px !important;
      }
      #contact{
         h1{
            margin-left: -20px !important;
         }
      }
      .links{
         
            .link{
               margin-left: 10px !important;
            }
         
         .q-link{
            font-size: 12px;
            padding-bottom: 13px;
        }
      }
      .input-group{
         width: 245px !important;
      }
      input{
         height: 25px;
         font-size: 12px !important;
      }
   
     .input-group-text{
      height: 28px !important;
      width: 30px !important;
      display: flex;
      i{
         font-size: 13px !important;
         height: 22px !important;
      }
     }
   
     .btn{
      height: 25px !important;
      font-size: 12px !important;
     }
   }  
}
 
   
@media only screen and (min-width: 1000px){

    header{
      
      #cart, .offcanvas{
         height: 370px !important;
         width: 350px !important;
      }
    }  
   
   main{
      .banner-bkg{
         height: 450px !important;
      }
   
      #category{
         .row{
           margin: 0 auto !important;
           width: 78% !important;
         }
      }
   
      #blog{
         .stars{
            width: 260px !important;
            margin-left: 17px !important;
         }
         .blog-img{
            height: 150px !important;
            width: 85% !important;
         }

         .main-row{
            margin: 0 auto !important;
         }

         .col-lg-6{
            margin-left: -30px !important;
         }
   
         h3{
            font-size: 22px !important;
         }
         
         p{
            font-size: 13px !important;
         }
      }
        
      #reviews{
            .carousel{
               width: 351px !important;
            }
      }
   
   }
}



